@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../node_modules/bootswatch-sass/sandstone/_variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../node_modules/bootswatch-sass/sandstone/_bootswatch";

$hero-height: 655px;

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #5a5a5a;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;  
}

/* Carousel base class */
.carousel {
  height: $hero-height;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: dimgray;
  text-shadow: none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: $hero-height;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: $hero-height;
}
